body {
    background: #15181A;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-shadow: 1px 1px 6px #ED1165;
    color: #15181A;
}

.btn {
    border-radius: 12px;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;
    background-color: #ED1165;
    color: white;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    background-color: white;
    color: #ED1165;
}

.box {
    background-color: #fdfdfdfd;
    border-radius: 10px;
    width: 70%;
    height: 60%;
}

.input-login {
    background-color: #fdfdfd;   
    color: #ED1165;             
    border: 1px solid #ccc;     
    border-radius: 4px;         
    padding: 8px 12px;          
}


.input-login::placeholder {
    color: #ED1165;             
    opacity: 1;                
}